.outerDiv {
	text-align: center;
}

.form {
	margin: 500px;
}

.input {
	border: none;
	height: 40px;
	font-size: medium;
	background-color: inherit;
	background: none;
}

.MuiIconButton-root {
	color: #4caf50 !important;
}

.MuiAutocomplete-groupUl {
	color: #4caf50 !important;
}
