.authentication__header {
	color: white;
	text-align: center;
}

hr {
	color: #4caf50;
}

.authentication {
	width: 90%;
	max-width: 25rem;
	margin: auto;
	background: none;
	color: white;
	border: solid #4caf50;
}

.authentication form {
	margin-bottom: 1rem;
}

a:visited,
a:link {
	color: white !important;
}

a:hover,
a:active {
	color: #4caf50 !important;
}
