@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';

.paper {
	/* position: absolute; */
	background: none !important;
	color: white !important;
	z-index: 3 !important;
}

.paper h2 {
	text-align: center;
}

.paper p {
	text-align: center;
}

.paper button {
	color: red;
	border: 1px solid;
	max-width: 100%;
	margin: 15px 45% !important;
	/* margin: 20px !important; */
}

.slider1 {
	box-shadow: 3px 2px 3px solid green;
	width: 100%;
	margin: 0 0;
}

.slider1 img {
	width: 100%;
	height: 550px;
	float: left;
}

.herotext {
	top: 210px;
	left: 460px;
	color: red;
	position: absolute;
}

.herotext p {
	position: relative;
	top: 30%;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 4px;
	overflow: hidden;
	background: linear-gradient(120deg, red, #fff, red);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 3s linear infinite;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
	0% {
		background-position: -680%;
	}
	100% {
		background-position: 680%;
	}
}
.btn {
	border-radius: 5px;
	padding: 8px 30px;
	background: transparent;
	color: white;
	margin-left: 250px;
}

.about img {
	width: 100%;
	height: 500px;
	/* margin-top: 20px; */
	margin-bottom: 20px;
}

.about {
	position: relative;
}

.text1 {
	font-size: 25px;
	color: white;
	position: absolute;
	top: 40%;
	left: 20px;
	z-index: 1;
}

.title {
	margin-top: 10px;
	color: white;
	align-items: center;
	text-align: center;
	width: 100%;
	display: inline;
	background-color: black;
}
.title h3 {
	font-size: 50px;
	margin: auto;
}

.title p {
	padding-top: 10px;
	margin: auto;
}

.aboutimg {
	width: 100%;
	height: 300px;
	margin: 15px auto;
}

table {
	width: 100%;
	height: 300px;
	text-align: center;
	background-color: black;
}

.list {
	color: white;
	text-align: justify;
	margin-bottom: 10px;
}
.list1 {
	color: white;
	width: 50%;
}

.list2 {
	color: white;
	width: 50%;
}

.list2points {
	font-weight: bold;
}

li {
	color: white;
	list-style-type: none;
}

.footer {
	width: 100%;
	height: 400px;
	display: flex;
	background-color: #151515;
}

.left {
	width: 50%;
	text-align: center;
	align-items: center;
	margin: auto;
	margin-right: 0;
}
.left1 {
	width: 50%;
	margin: auto;
}
.text5 {
	text-align: justify;
	margin-top: 50px;
	width: 70%;
	color: white;
}

.right {
	margin: auto;
	text-align: center;
}
.right h4 {
	margin: 0;
	font-size: 30px;
	color: white;
}
.f1 {
	margin-top: 30px;
	color: white;
}

.checkButton {
	color: white !important;
}

.container {
	position: relative;
	text-align: center;
}

.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
}
@media (max-width: 500px) {
	.text1 {
		font-size: xx-small;
		top: 40%;
	}
	.footer {
		background-color: #151515;
	}
	.left1 {
		margin-left: 30px;
	}
}
