.users-list {
  margin: auto;
  color: black;
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  grid-gap: 10px;
}

/* .button--inverse {
  background: #830000;
  color: white;
}

.button--danger {
  background: #4caf50;
  border-color: #830000;
} */

@media (max-width: 768px) {
	.users-list1 {
  margin: auto;
  color: black;
  display: grid;
  grid-template-columns: auto auto;
  list-style-type: none;
  grid-gap: 10px;
}
}


@media (max-width: 420px) {
	.users-list1 {
  margin: auto;
  color: black;
  display: grid;
  grid-template-columns: auto;
  list-style-type: none;
  grid-gap: 10px;
}
}