.header1 {
  text-align: center;
  color: aliceblue;
}

h1,
h3 {
  color: aliceblue;
}

.mh {
  width: auto;
  padding: auto;
  display: inline;
}

.card1 {
  text-align: center;
  margin: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(50px, auto);
}
.cells {
  padding: 5px;
  border: 1px solid black;
  vertical-align: middle;
}
.cells p {
  text-align: center;
}
.daysButton--notsaved {
  border: 4px double white;
  color: white;
}

.daysButton--saved {
  border: 4px double #4caf50;
  color: #4caf50;
}

.data101 {
  width: 450px;
  display: grid !important;
  grid-template-columns: 175px 200px 30px 30px !important;
  grid-gap: 10px;
  background-color: none;
  padding: 5px;
  text-align: start;
}
.data201 {
  width: 450px;
  display: grid !important;
  grid-template-columns: 175px 200px 30px !important;
  grid-gap: 10px;
  background-color: none;
  padding: 5px;
  text-align: start;
}
.goto {
  padding: 0;
  border: none;
  font-weight: bold;
}

.close {
  width: 100%;
  height: 28px;
  align-items: center;
  padding: 0px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.anotherData h4 {
  display: inline;
  text-align: left;
}

.anotherData {
  margin: 5px;
  border: 2px dotted white;
  text-align: left;
  padding: 10px;
}
.anotherData button {
  padding: 10px;
  width: 100%;
  color: white;
  border: 2px solid #4caf50;
  background: #4caf50;
  font-weight: bold;
}

.anotherData button :active,
.anotherData button:hover {
  background: #66ad68;
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
  width: 200px;
}

.gif__preview {
  width: 170px;
  height: 170px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.repstime input {
  background: none;
  border: 0px;
  border-bottom: 1px solid white;
}

.repstime input :active,
.repstime input:hover {
  margin-right: 5x;
  border: 0px;
  border-bottom: 1px solid #4caf50;
}

.tbutton :active,
.tbutton: hover {
  background: #4caf50;
}
