.table1,
.data1,
.data2 {
	border: 1px solid white;
	border-collapse: collapse;
	background: none;
	padding: 10px;
	height: 10px !important;
	margin-bottom: 10px !important;
}
.table1 {
	margin: 0px;
	width: 100%;
}
#t01 tr:nth-child(even) {
	background-color: #eee;
}
#t01 tr:nth-child(odd) {
	background-color: #fff;
}

.data1 {
	font-weight: bold;
}

caption {
	color: #4caf50;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}
.btn2 {
	cursor: pointer;

	border: 1px solid;
	color: white;
	background: #4caf50;
	padding: 0.5rem;
	font: inherit;
	border-radius: 4px;
	margin: 5px;
}

.btn2:focus {
	outline: none;
	background: #4caf50 !important;
	color: white !important;
}

.btn2:hover,
.btn2:active {
	background: #66ad68;
	border-color: #66ad68;
	color: black;
}

.row {
	background: rgba(255, 255, 255, 0.2) !important;
	color: white;
}
