.table1,
.data1,
.data2 {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}
.table1 {
	width: 100%;
}
#t01 tr:nth-child(even) {
	background-color: #eee;
}
#t01 tr:nth-child(odd) {
	background-color: #fff;
}

.data1 {
	font-weight: bold;
}

caption {
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 2px;
}
.btn2 {
	cursor: pointer;

	border: 1px solid;
	color: #4caf50;
	background: transparent;
	padding: 0.5rem;
	font: inherit;
	border-radius: 4px;
	margin: 5px;
}

.btn2:focus {
	outline: none;
}

.btn2:hover,
.btn2:active {
	background: #66ad68;
	border-color: #66ad68;
	color: black;
}
