.main-navigation__menu-btn {
	width: 3rem;
	height: 3rem;
	background: transparent;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 2rem;
	cursor: pointer;
	color:white;
}

.main-navigation__menu-btn span {
	display: block;
	width: 3rem;
	height: 2.5px;
	background: white !important;
}

.main-navigation__title {
	color: white !important;
}

.main-navigation__title a {
	text-decoration: none;
	color: white ;
}
.main-navigation__title a:hover {
	text-decoration: none;
	color: rgb(0, 0, 0)!important ;
}
.main-navigation__header-nav {
	display: none;
}

.main-navigation__drawer-nav {
	height: 100%;
}

@media (min-width: 840px) {
a.mtitle:hover,
a.mtitle:active {
	color:#4caf50;
	background: white;
	padding:2px 5px;

}
}


@media (min-width: 768px) {
	.main-navigation__menu-btn {
		display: none;
	}

	.main-navigation__header-nav {
		display: block;
	}
}